body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #e0e0e0;
    padding: 20px;
    border: 1px solid #ccc;
    width: 500px;
}

.input-section {
    margin-bottom: 20px;
}

#nuevatarea {
    width: 70%;
    padding: 10px;
}

#btnAgregar {
    background-color: #1b7a43;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dashboard {
    display: flex;
    justify-content: space-between;
}

#totalTareas, #tareasRealizadas {
    font-weight: bold;
}

.header-lista {
    display: flex;
    gap: 100px;
    padding: 20px 50px 0 0;
    margin-bottom: 10px;
}

.tarea-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.btn-borrar {
    color: darkred;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: none;
}

.completada {
    text-decoration: line-through;
    color: gray;
    font-style: italic;
}